
@font-face {
  font-family: 'Rubik-Bold';
  src: url(font/Rubik-Bold.ttf)
}

/* Dropdown Button */
.dropbtn {
    font-family: "Rubik-Bold";
    font-weight: bold;
    font-family: 'Rubik-Bold';
    outline: 0;
    background-color: inherit;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;kf
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    padding-bottom: 10px;
    font-family: monospace;
    height: auto;
    text-align: left;
    font-size: 18px;
    line-height: 24px;
    display: none;
    position: absolute;
    background-color: #212121;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.cont-content{
  display: flex;
  flex-direction: column;
}

/* Links inside the dropdown */
.dropdown-content table {
  table-layout: fixed;
}
.dropdown-content table tr {
    cursor: default;
    overflow: hidden;
    color: black;
    padding: 3px 8px;
    text-decoration: none;
    display: block;
}

tr:hover{
  background: #E53935;
}

a{
  padding: 10px;
  color: white;
  margin-left: 10px;
  margin-bottom: 10px;
}

.dropdown-content table tr{
  color:white;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #E53935}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
